.footer {
  padding-top: 32px;

  color: white;

  background-color: black;
};

.footer__container {
  padding-bottom: 24px;

  @media screen and (max-width: 480px) {
    margin: 0;
  };
};

.footer-box__title {
  margin-bottom: 20px;

  font-size: 28px;
  line-height: 1;
};

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 12px;

  border-top: 1px solid rgba($color: #fff, $alpha: 0.3);

  @media screen and (max-width: 480px) {
    justify-content: center;
    flex-direction: column;
  };
};

.powered {
  color: rgba($color: #fff, $alpha: 0.7)
};

.copyright {
  color: rgba($color: #fff, $alpha: 0.3);
};