.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: var(--height__header);

  color: white;
  transition: background-color var(--transition__main), min-height var(--transition__main);
  z-index: 2000;

  body.mobile-menu-is-open & {
    background-color: rgba($color: #000000, $alpha: 0.9);
    // background-color: var(--color__accent);
  }

  &.scrolling {
    background-color: rgba($color: #000000, $alpha: 0.9);
    // background-color: var(--color__accent);
    height: 44px;
  };
};

.header .container {
  @extend %flex;

  // gap: 24px;
  // justify-content: space-between;
};