.btn-up {
  position: fixed;
  bottom: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  color: white;
  background-color: rgba($color: black, $alpha: 0.6);
  border-radius: 50%;
  border: 1px solid rgba($color: white, $alpha: 0.4);
  
  cursor: pointer;
  opacity: 1;
  pointer-events: all;

  &:hover,
  &:focus {
    background-color: var(--color__accent);
  };

  &.is-hide {
    opacity: 0;
    pointer-events: none;
  };
};

.btn-up__icon {
  width: 36px;
  height: 36px;
  fill: currentColor;
};