.btn-up {
  position: fixed;
  bottom: 36px;
  right: 36px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  color: white;
  background-color: rgba($color: black, $alpha: 0.6);
  border-radius: 50%;
  border: 1px solid rgba($color: white, $alpha: 0.4);
  
  cursor: pointer;
  opacity: 1;
  pointer-events: all;

  // &::before {
  //   content: '\2191';
  //   // content: '\21E7';

  //   color: currentColor;
  //   font-size: 24px;
  //   font-weight: 700;
  // };

  &.is-hide {
    opacity: 0;
    pointer-events: none;
  };
};

.btn-up__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}